atomicwrites==1.4.0
attrs==19.3.0
b-labs-models==2017.8.22
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3
DAWG-Python==0.7.2
docopt==0.6.2
dostoevsky==0.5.0
fasttext==0.9.1
idna==2.9
joblib==0.15.1
more-itertools==8.3.0
numpy==1.22.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pybind11==2.5.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.4.7
pyTelegramBotAPI==3.7.1
pytest==5.3.5
python-crfsuite==0.9.7
razdel==0.4.0
requests==2.23.0
russian-tagsets==0.6
scikit-learn==0.22.1
scipy==1.4.1
six==1.15.0
urllib3==1.25.9
wcwidth==0.2.4
